* {
    margin: 0;
    padding: 0;
  }

body{
    margin: 0;
}
.menu{
    background-color: #465c71;
    list-style-type: none;
    padding: 0 5% 0 5%;
    border:2px solid black;
}
.menu > li{
    background-color: white;
    display: inline-block;
    width:15%;
    padding: 5px 0px 5px 0px;
    border: 2px solid black;
    text-align: center;
    margin: 10px 0 10px -5px ; /* vì inline-block tạo ra margin-left=5px*/
}
.menu >li > ul{
    display: none;
    min-width: max-content;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    text-align: left;
    margin: 5px 0px 5px -1px ;
    list-style-type: none;
}
.menu li:hover {
    background-color: #bfcbd6;
    color: #465c71;
}
.menu>li:hover ul{
    display: block;
}
a{
    text-decoration: none;
}
.footer {
    position:fixed;
    text-align: right;
    width:100%;
    bottom: 0;
    right:0;
    background-color: #3a4f63;
    border:2px solid black;
}

/* style page 2 */
.table-page2 {
    border:2px solid black;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-collapse: collapse;
}
.table-page2 td + td{
    border-left:2px solid black;
}
.table-page2 tr:nth-child(1){
    font-weight: bold;
}
.table-page2 tr:nth-child(even){
    background-color: gray;
}
/* style page 3 */
.table-page3 {
    border: 2px solid black;
    margin: 20px;
}
.table-page3 td{
    padding: 10px;
}
/* style page 4 */
.table-page4{
    border: 2px solid black;
    margin: 20px;
}
.table-page4 td{
    padding: 10px;
}